extends layout

block append head
	meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
	style.
		html{ height: 100%; }
		body{ height: 100%; margin: 0; padding: 0; }
		#map-canvas{ height: 100%; }
	script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy38Zr0-VOGhFZi20fq9Di3BmK9J6ONvE&sensor=true")
	script(type="text/javascript" src="javascripts/map-initialize.js")
block content
	div#map-canvas